{% extends 'base.html'%}

{% block content %}


<h2>Liste des véhicules :</h2>

<table class="table table-striped table-dark mt-5">
    <thead>
        <tr>
            <th scope="col">id_vehicule</th>
            <th scope="col">Marque</th>
            <th scope="col">Modèle</th>
            <th scope="col">Couleur</th>
            <th scope="col">Immatriculation</th>
            <th scope="col">Modification</th>
            <th scope="col">Suppression</th>

        </tr>
    </thead>
    <tbody>
        {% for vehicule in vehicules %}
        <tr>
            <td>{{vehicule.id_vehicule}}</td>
            <td>{{vehicule.marque}}</td>
            <td>{{vehicule.modele}}</td>
            <td>{{vehicule.couleur}}</td>
            <td>{{vehicule.immatriculation}}</td>
            <td><a href="{{ base_path ~ '/vehicule/edit' }}"><img height="2px" src="/assets/img/modif.png"></a></td>
            <td><a href="{{ base_path ~ '/vehicule/delete' }}"><img height="2px" src="/assets/img/supp.png"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<a class="btn btn-primary" href="{{ base_path ~ '/vehicule/create' }}" role="button">Ajouter un véhicule</a>

{% endblock %}