{% extends 'base.html'%}

{% block content %}


<h2>Liste des conducteurs :</h2>

<table class="table table-striped table-dark mt-5">
    <thead>
        <tr>
            <th scope="col">id_conducteur</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Modification</th>
            <th scope="col">Suppression</th>

        </tr>
    </thead>
    <tbody>
        {% for conducteur in conducteurs %}
        <tr>
            <th scope="row">{{conducteur.id_conducteur}}</th>
            <td>{{conducteur.prenom}}</td>
            <td>{{conducteur.nom}}</td>
            <td><a href="{{ base_path ~ '/conducteur/edit' }}"><img height="2px" src="/assets/img/modif.png"></a></td>
            <td><a href="{{ base_path ~ '/conducteur/delete' }}"><img height="2px" src="/assets/img/supp.png"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<a class="btn btn-primary" href="{{ base_path ~ '/conducteur/create' }}" role="button">Ajouter un conducteur</a>

{% endblock %}