{% extends 'base.html'%}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur le site de location de voiture !</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        A minima facilis officiis ab. Libero commodi, necessitatibus distinctio excepturi eius,
        obcaecati molestias omnis illum corporis quo modi at eveniet, facilis ratione?</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>

{% endblock %}