{% extends 'base.html'%}

{% block content %}

<form action="{{ base_path ~ '/association_vehicule_conducteur' }}" method="POST">
    <div class="form-group">
        <label for="FormPrenom">Conducteur :</label>
        <select class="form-control">
            {% for conducteur in conducteurs%}
            <option>{{conducteur.id_conducteur}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="FormNom">Véhicule :</label>
        <select class="form-control">
            {% for conducteur in conducteurs%}
            <option>{{vehicule.id_vehicule}}</option>
            {% endfor %}
        </select>
    </div>


    <button type="submit">Ajouter !</button>




    {% endblock %}